<li>{{story.headline}} {{story.author}} {{story.body}}
  {{#if isImageShowing}}
    <p><img src={{story.image}} alt={{story.headline}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Show image</button>
  {{/if}}
  <button {{action 'delete' story}}>Delete</button>
</li>
