<div class="col-md-4 storyBox col-height">
  <span><h3>{{#link-to 'story' story.id}}{{story.headline}}{{/link-to}}</h3> author:          {{story.author}}

    <p><img class="storyImage" src={{story.image}} alt={{story.headline}}></p>


    {{update-story story=story update="update"}}
    <button {{action 'delete' story}}>Delete</button>
    <br>
  </span>
</div>
